{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Modification de l'utilisateur à l'id :  {{user.id}}</h1>
    {{ form_start(userUpdateForm) }}
        {{ form_row(userUpdateForm.email) }}
        {{ form_row(userUpdateForm.firstname) }}
        {{ form_row(userUpdateForm.lastname) }}
        {{ form_row(userUpdateForm.password) }}

        <button type="submit" class="btn">Update User</button>
    {{ form_end(userUpdateForm) }}
</div>
{% endblock %}
